In [1]:
import pandas as pd
import numpy as np

path =('../../dataset/')

movies_data = pd.read_csv(path+'movies.csv')
movies_data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
movies_data.shape

(9742, 3)

In [3]:
movie_dataset = movies_data.copy()

In [4]:
movies_data.loc[movie_dataset['title'] == 'Three Faces of Eve, The (1957)']

      movieId                           title genres
4958     7493  Three Faces of Eve, The (1957)  Drama

**메인 데이터 파일**
-  MovieLens 웹 사이트( http://movielens.org) 에서 수집한 데이터

In [9]:
links_data = pd.read_csv(path+'links.csv')
links_data.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
movies = pd.merge(movie_dataset, links_data, on='movieId')

In [11]:
movies.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

### 장르 결측치 df 따로 관리

In [12]:
no_genre_cond = movies['genres'].str.contains(' ')
no_genre_movies_data = movies[no_genre_cond]
no_genre_movies_data

,movieId,title,genres,imdbId,tmdbId
8517,114335,La cravate (1957),(no genres listed),121731,32891.0
8684,122888,Ben-hur (2016),(no genres listed),2638144,271969.0
8687,122896,Pirates of the Caribbean: Dead Men Tell No Tal...,(no genres listed),1790809,166426.0
8782,129250,Superfast! (2015),(no genres listed),2933474,325358.0
8836,132084,Let It Be Me (1995),(no genres listed),113638,335145.0
8902,134861,Trevor Noah: African American (2013),(no genres listed),3043546,250556.0
9033,141131,Guardians (2016),(no genres listed),4600952,354556.0
9053,141866,Green Room (2015),(no genres listed),4062536,313922.0
9070,142456,The Brand New Testament (2015),(no genres listed),3792960,330764.0
9091,143410,Hyena Road,(no genres listed),4034452,316042.0
9138,147250,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),229922,127605.0
9178,149330,A Cosmic Christmas (1977),(no genres listed),182015,125464.0
9217,152037,Grease Live (2016),(no genres listed),4366830,348089.0
9248,155589,Noin 7 veljestä (1968),(no genres listed),134854,55495.0
9259,156605,Paterson,(no genres listed),5247022,370755.0
9307,159161,Ali Wong: Baby Cobra (2016),(no genres listed),5066574,396292.0
9316,159779,A Midsummer Night's Dream (2016),(no genres listed),5051278,398854.0
9348,161008,The Forbidden Dance (1990),(no genres listed),99595,118430.0
9413,165489,Ethel & Ernest (2016),(no genres listed),1725969,413770.0
9426,166024,Whiplash (2013),(no genres listed),2654430,367412.0
9448,167570,The OA,(no genres listed),4635282,432192.0
9478,169034,Lemonade (2016),(no genres listed),5662106,394269.0
9514,171495,Cosmos,(no genres listed),81846,409926.0
9515,171631,Maria Bamford: Old Baby,(no genres listed),6264596,455601.0
9518,171749,Death Note: Desu nôto (2006–2007),(no genres listed),877057,419787.0
9525,171891,Generation Iron 2,(no genres listed),6263642,447818.0
9534,172497,T2 3-D: Battle Across Time (1996),(no genres listed),117880,65595.0
9541,172591,The Godfather Trilogy: 1972-1990 (1992),(no genres listed),150742,364150.0
9562,173535,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),459945,406403.0
9573,174403,The Putin Interviews (2017),(no genres listed),6840134,461805.0
9611,176601,Black Mirror,(no genres listed),2492564,452830.0
9661,181413,Too Funny to Fail: The Life and Death of The D...,(no genres listed),7544820,482004.0
9663,181719,Serving in Silence: The Margarethe Cammermeyer...,(no genres listed),114395,49809.0
9669,182727,A Christmas Story Live! (2017),(no genres listed),6881890,485517.0

In [13]:
no_genre_movies_data.shape

(34, 5)

In [14]:
no_genre_movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 8517 to 9669
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  34 non-null     int64
 1   title    34 non-null     object
 2   genres   34 non-null     object
 3   imdbId   34 non-null     int64
 4   tmdbId   34 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.6+ KB

### 결측치 있는 영화 이름만 추출

In [15]:
names = no_genre_movies_data['title'].tolist()
names

['La cravate (1957)',
 'Ben-hur (2016)',
 'Pirates of the Caribbean: Dead Men Tell No Tales (2017)',
 'Superfast! (2015)',
 'Let It Be Me (1995)',
 'Trevor Noah: African American (2013)',
 'Guardians (2016)',
 'Green Room (2015)',
 'The Brand New Testament (2015)',
 'Hyena Road',
 'The Adventures of Sherlock Holmes and Doctor Watson',
 'A Cosmic Christmas (1977)',
 'Grease Live (2016)',
 'Noin 7 veljestä (1968)',
 'Paterson',
 'Ali Wong: Baby Cobra (2016)',
 "A Midsummer Night's Dream (2016)",
 'The Forbidden Dance (1990)',
 'Ethel & Ernest (2016)',
 'Whiplash (2013)',
 'The OA',
 'Lemonade (2016)',
 'Cosmos',
 'Maria Bamford: Old Baby',
 'Death Note: Desu nôto (2006–2007)',
 'Generation Iron 2',
 'T2 3-D: Battle Across Time (1996)',
 'The Godfather Trilogy: 1972-1990 (1992)',
 'The Adventures of Sherlock Holmes and Doctor Watson: The Hunt for the Tiger (1980)',
 'The Putin Interviews (2017)',
 'Black Mirror',
 'Too Funny to Fail: The Life and Death of The Dana Carvey Show (2017)',
 'Serving in Silence: The Margarethe Cammermeyer Story (1995)',
 'A Christmas Story Live! (2017)']

## 크롤링 준비

imdb_id를 url에 집어 넣는 형태로 변환

In [18]:
def create_imdb_url(imdb_id):
    # imdbId를 문자열로 변환하고, 7자리가 되도록 앞에 0을 추가
    imdb_id_str = str(imdb_id).zfill(7)
    # URL 생성
    url = f"https://www.imdb.com/title/tt{imdb_id_str}/"
    return url

In [19]:
# 예시
imdb_id = 114709
url = create_imdb_url(imdb_id)
print(url)

https://www.imdb.com/title/tt0114709/

## 1개로 연습

In [92]:
from selenium import webdriver

browser = webdriver.Chrome()
browser.get('https://www.google.com/')

In [104]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(browser.page_source, 'html.parser')

In [131]:
name = names[0]
name

'La cravate (1957)'

In [132]:
imdb_id = no_genre_movies_data.loc[no_genre_movies_data['title'] == name, 'imdbId'].values[0]
imdb_id

121731

In [133]:
imdb_url = create_imdb_url(imdb_id)

In [134]:
# IMDb 페이지로 이동
browser.get(imdb_url)

In [135]:
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [136]:
# 스크롤 내리기
from selenium.webdriver.common.keys import Keys

body = browser.find_elements('css selector', 'body')[0]
body.send_keys(Keys.PAGE_DOWN)
body.send_keys(Keys.PAGE_DOWN)
body.send_keys(Keys.PAGE_DOWN)
body.send_keys(Keys.PAGE_DOWN)
body.send_keys(Keys.PAGE_DOWN)

In [137]:
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [138]:
text_temp = soup.select('#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > div > section > div > div.sc-9178d6fe-1.fqVKQb.ipc-page-grid__item.ipc-page-grid__item--span-2 > section > div.sc-ab73d3b3-0.iMuSjK > ul.ipc-metadata-list.ipc-metadata-list--dividers-all.sc-ab73d3b3-1.jzyXiW.ipc-metadata-list--base > li > div > ul')
temp = text_temp[0]

In [139]:
genres = [a.get_text() for a in temp.find_all('a', class_='ipc-metadata-list-item__list-content-item')]
genres_text = "|".join(genres)
genres_text

'Short|Comedy'

## 전체 결측치를 대상으로 크롤링 후 저장

In [140]:
from selenium.webdriver.common.keys import Keys
import time
print("장르 결측치 개수 : ", len(names))
count = 0

for name in names:
    # 해당 영화 링크로 접속하기
    soup = BeautifulSoup(browser.page_source, 'html.parser')

    imdb_id = no_genre_movies_data.loc[no_genre_movies_data['title'] == name, 'imdbId'].values[0]
    imdb_url = create_imdb_url(imdb_id)
    
    # IMDb 페이지로 이동
    browser.get(imdb_url)
    soup = BeautifulSoup(browser.page_source, 'html.parser')

    # 장르 값이 있는 곳까지 스크롤 내리기
    soup = BeautifulSoup(browser.page_source, 'html.parser')
    body = browser.find_elements('css selector', 'body')[0]
    body.send_keys(Keys.PAGE_DOWN)
    body.send_keys(Keys.PAGE_DOWN)
    body.send_keys(Keys.PAGE_DOWN)
    body.send_keys(Keys.PAGE_DOWN)
    body.send_keys(Keys.PAGE_DOWN)
    soup = BeautifulSoup(browser.page_source, 'html.parser')

    time.sleep(1)
    try:
        soup = BeautifulSoup(browser.page_source, 'html.parser')

        time.sleep(1)
    
        text_temp = soup.select('#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > div > section > div > div.sc-9178d6fe-1.fqVKQb.ipc-page-grid__item.ipc-page-grid__item--span-2 > section > div.sc-ab73d3b3-0.iMuSjK > ul.ipc-metadata-list.ipc-metadata-list--dividers-all.sc-ab73d3b3-1.jzyXiW.ipc-metadata-list--base > li > div > ul')
        temp = text_temp[0]
        genres = [a.get_text() for a in temp.find_all('a', class_='ipc-metadata-list-item__list-content-item')]
        genres_text = "|".join(genres)

        movies_data.loc[movies_data['title'] == name, 'genres'] = genres_text
        print(movies_data[movies_data['title'] == name])

        # 장르 정보 없을 때
    except IndexError:
        genre = ""
        print("정보 X", name)
        count += 1
            
print("크롤링 후 결측치 개수 : ", count)
print("크롤링으로 찾은 장르 : ",len(names) - count )

장르 결측치 개수 :  34
      movieId              title        genres
8517   114335  La cravate (1957)  Short|Comedy
      movieId           title                genres
8684   122888  Ben-hur (2016)  Action|Drama|Romance
      movieId                                              title
8687   122896  Pirates of the Caribbean: Dead Men Tell No Tal...  \

                        genres
8687  Action|Adventure|Fantasy
      movieId              title  genres
8782   129250  Superfast! (2015)  Comedy
      movieId                title         genres
8836   132084  Let It Be Me (1995)  Drama|Romance
      movieId                                 title  genres
8902   134861  Trevor Noah: African American (2013)  Comedy
      movieId             title
9033   141131  Guardians (2016)  \

                                               genres
9033  Action|Adventure|Comedy|Fantasy|Sci-Fi|Thriller
      movieId              title                             genres
9053   141866  Green Room (2015)  Crime|Drama|Horror|Music|Thriller
      movieId                           title          genres
9070   142456  The Brand New Testament (2015)  Comedy|Fantasy
      movieId       title            genres
9091   143410  Hyena Road  Action|Drama|War
      movieId                                              title
9138   147250  The Adventures of Sherlock Holmes and Doctor W...  \

                   genres
9138  Crime|Drama|Mystery
      movieId                      title                   genres
9178   149330  A Cosmic Christmas (1977)  Animation|Family|Sci-Fi
      movieId               title                  genres
9217   152037  Grease Live (2016)  Comedy|Musical|Romance
      movieId                   title            genres
9248   155589  Noin 7 veljestä (1968)  Adventure|Comedy
      movieId     title                genres
9259   156605  Paterson  Comedy|Drama|Romance
      movieId                        title  genres
9307   159161  Ali Wong: Baby Cobra (2016)  Comedy
      movieId                             title                  genres
9316   159779  A Midsummer Night's Dream (2016)  Comedy|Fantasy|Romance
      movieId                       title               genres
9348   161008  The Forbidden Dance (1990)  Drama|Music|Romance
      movieId                  title                   genres
9413   165489  Ethel & Ernest (2016)  Animation|Drama|History
      movieId            title             genres
9426   166024  Whiplash (2013)  Short|Drama|Music
      movieId   title                        genres
9448   167570  The OA  Drama|Fantasy|Mystery|Sci-Fi
      movieId            title         genres
9478   169034  Lemonade (2016)  Music|Musical
      movieId   title       genres
9514   171495  Cosmos  Documentary
      movieId                    title              genres
9515   171631  Maria Bamford: Old Baby  Documentary|Comedy
      movieId                              title
9518   171749  Death Note: Desu nôto (2006–2007)  \

                                              genres
9518  Animation|Crime|Drama|Fantasy|Mystery|Thriller
      movieId              title       genres
9525   171891  Generation Iron 2  Documentary
      movieId                              title               genres
9534   172497  T2 3-D: Battle Across Time (1996)  Short|Action|Sci-Fi
      movieId                                    title                genres
9541   172591  The Godfather Trilogy: 1972-1990 (1992)  Crime|Drama|Thriller
      movieId                                              title
9562   173535  The Adventures of Sherlock Holmes and Doctor W...  \

                   genres
9562  Crime|Drama|Mystery
      movieId                        title                 genres
9573   174403  The Putin Interviews (2017)  Documentary|Biography
      movieId         title genres
9611   176601  Black Mirror  Short
      movieId                                              title       genres
9661   181413  Too Funny to Fail: The Life and Death of The D...  Documentary
      movieId                                              title
9663   181719  Serving in Silence: The Margarethe Cammermeyer...  \

               genres
9663  Biography|Drama
      movieId                           title   genres
9669   182727  A Christmas Story Live! (2017)  Musical
크롤링 후 결측치 개수 :  0
크롤링으로 찾은 장르 :  34

In [141]:
## 장르 크롤링 한 데이터셋 추출
movies_data.to_csv('movies_genre_crawling.csv', index=False)